body {
  background-color: rgb(3, 0, 0);
}
ul {
  list-style-type: none;
  overflow: hidden;
  margin-top: -.1px !important;
  margin-bottom: -.1px !important;
}
.navbar{
  margin: 0%;
}
  li {
    display: block;
    color: rgb(228, 221, 235);
    text-align: center;
    padding-left: 0.4rem;
    padding-right: 0.1rem;
    text-decoration: none;
    float:left;
  }
  li a:hover {
    background-color: rgba(184, 252, 229, 0.877);
  }
  
button {
  display: block;
    color: rgb(46, 6, 83);
    text-align: center;
    padding: 0;
    text-decoration: none;
    float: middle;
}
button a:hover {
  background-color: rgb(4, 34, 24);
}
.background-img{
  background: url(web.jpeg);
  height: 100vh;
  justify-content: center;
  align-content: center;
  display: flex;
  background-size: cover;
  
}
.background-img h1{
  padding: 300px 24px;
  font-family: 'Zhi Mang Xing', cursive;
  color: rgb(242, 236, 247);
  font-size: 80px;
}
nav{
  background-color: black;
}
.mrq{
  color: rgb(172, 189, 224);
  background: rgb(32, 31, 31);
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 7px;
}
.navbar h2{
  font-family: 'Electrolize', sans-serif;
  color: aqua;
  margin-top: -35px;
    margin-left: 30px;
}
.active {
 
  padding-left: .1rem;
    padding-right: .1rem;
  
}
.nav-link {
  color: aqua;
}
.box {
  text-align: center;
  height: 400px;
  width: 350px;
  padding: 10px;
  background: rgba(86, 86, 85, 0);
  
}